body {
	background: url(../images/background.jpg) no-repeat center fixed;
  background-size: cover;
}


h2 {
	text-align: center;
}

.big-font-size {
	font-size: 100px; font-weight: bold;
}

.bg-white {
	background: white;
}

.card-style {
	width: 18rem; margin-bottom: 50px; text-align: center;
}

.black-color {
	color: black;
}

.card-text-style {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.text-center {
	text-align: center;
}
